<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
        color: #2d2e32;
      }

      p {
        line-height: 1.7;
      }

      .container {
        width: 600px;
        margin: 0 auto;
        background: white;
        padding-top: 60px;
      }

      .logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .logo img {
        height: 40px;
        margin: 0 auto;
      }

      .link {
        display: block;
        margin-top: 30px;
        color: #0f828a;
        text-decoration: none;
      }

      hr {
        border-color: whitesmoke;
        margin-bottom: 30px;
      }

      .confirm-container {
        display: flex;
        justify-content: flex-end;
      }

      .confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        margin: 40px 0;
        text-decoration: none;
        border-radius: 30px;
        padding: 0.8rem 1.5rem !important;
        color: #444444;
        font-weight: bold;
        background: rgb(143, 238, 245);
        background: linear-gradient(
          90deg,
          rgba(143, 238, 245, 1) 0%,
          rgba(127, 228, 235, 1) 50%,
          rgba(110, 216, 224, 1) 100%
        );
        border: 0px solid white;
      }

      .footer p {
        font-size: 13px;
      }

      .footer .social {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
      }

      .footer .social a {
        margin-right: 20px;
      }

      .footer .visit {
        color: #2d2e32;
        font-size: 13px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img src="/logo.png"/>
      </div>
      <p>Hi <%= artistName %></p>
      <p>
        Your creator application for the Bold Gallery has been approved! Please take the time to read
        the ‘<a href="https://bold.gallery/guide">Bold Gallery Creator Guide</a>’ documentation 
        to help guide you through the minting process in our digital gallery.
      </p>
      <p>
        A reminder that the Bold Gallery is a curated digital and physical art
        marketplace, and so, we'd like our creators to keep a few 
        things in mind when minting on the platform:
      </p>
      <ul>
        <li>
          We are not currently working with large scale generative 
          art projects (i.e. 10k PFP collections)
        </li>
        <li>No artwork with financial incentives (share of profits, staking, etc.)</li>
        <li>Do not mint artwork that infringes on the intellectual property 
        of any party.</li>
        <li>Creators cannot send, upload, distribute or disseminate any unlawful, defamatory, harassing,
        abusive, fraudulent, obscene, or otherwise objectionable content.</li>
        <li>Refrain from uploading low-res file mint uploads</li>
        <li></li>
      </ul>
      <p>
        You can read the full Terms & Conditions
        <a href="https://bold.gallery/terms-conditions">here</a>. These
        guidelines help us prevent spam and create an environment where
        both collectors and creators alike can have a positive experience.
      </p>
      <p>
        If you have any questions or specific issues, you can email us at
        <a href="mailto:support@bold.gallery">support@bold.gallery</a> or find
        us on the
        <a href="https://t.me/+zusq1rAC2UQzNDFh">Bold Gallery Creator Telegram Group</a>
      </p>
      <p>We look forward to sharing your art with the world!</p>
      <p>With Love, <br />The Bold Gallery</p>
      <hr />
      <div class="footer">
        <p>Follow Us</p>
        <div class="social">
          <a href="https://www.twitter.com/boldgallery">
            <img style="width: 20px" src="https://collect.bold.gallery/twitter.png" />
          </a>
          <a href="https://instagram.com/boldgalleryart">
            <img style="width: 20px" src="https://collect.bold.gallery/Instagram.png" />
          </a>
        </div>
        <a class="visit" href="https://bold.gallery">Visit The Gallery</a>
        <p>© Bold Gallery 2022</p>
      </div>
    </div>
  </body>
</html>
